body {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  margin-left: 0;
  margin-top: 0;
}

header {
  box-shadow: 0px 3px 10px lightblue;
  border-bottom: 3px solid navy;
}

header, header h1 {
  background-color: lightblue;
  margin: 0;
  width: 100%;
  padding-left: 5px;
}

.sidebar {
  float: left;
  padding-bottom: 100%;
  width: 25%;
  padding-left: 3px;
  padding-right: 10px;
  margin-right: 8px;
  background-color: lightblue;
  border-right: 3px solid navy;
  box-shadow: 3px 0px 10px lightblue;
}



img {
  float: right;
  margin-top: 5px;
  border-radius: 2px;
  box-shadow: 0px 0px 35px #fff;
  padding: 5px;
  background-color: lightblue;
  border: 1px dotted yellow;
}

p {
  font-size: 30px;
  color: #fff;
  margin-top: 10px;
}

/*Adding media query responsive design*/
@media screen and (min-width: 1400px) {
  p {
      color: #FF0000;
  }

}
